<center><h1 class="beerName"><%=@beer.name.titleize%></h1><br>
Style: <h3 class="beerStyle"><%=@beer.style.titleize%></h3><br>
<p>Region:<h5 class="beerRegion"><%=@beer.region%></h5><br></p></center>
<br>
<br>
<br>
<center>
